h1
{
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
}
body
{
    background-color: rgba(200, 100, 65, 0.5);
}
#basic
{
    padding-left: 10px;
    float:left; 
    width: 45%;
}

/* To disable inputs 
input[type="number"], input[type="radio"]
{
    pointer-events: none;
} */
button
{
    margin-left:25%;
    text-align: center;
}
table, td
{
    border: 1px solid black;
}
table 
{
    float:right;
    width:55%;
    padding-right: 10px;
    /* visibility: hidden; */
}
td 
{
    text-align: left;
    width: 30%;
}
h2
{
    text-align: center;
}