h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    text-transform: uppercase;
}
body
{
    background-color: rgba(200, 100, 65, 0.5);
}
form
{
    padding-left: 50px;
    margin-top: 30px;
    border: 1px ;
    border-width: 50%;
    width: fit-content;
}
#calculate
{
    text-align: center;
}